<div class="card card-flush shadow-sm mb-3">
  <div class="card-header bg-dark">
    <div class="d-flex flex-row flex-center">
      <span
        [inlineSVG]="'./assets/media/icons/duotune/general/gen005.svg'"
        class="svg-icon svg-icon-1 svg-icon-white"
      ></span>
      <h3 class="card-title text-white ml-3">{{tipo?.name}}</h3>
    </div>
    <div class="card-toolbar">
      <button class="btn btn-sm btn-light-primary mx-1">
        {{tipo?.name}} Sin Tomo
      </button>
      <app-modal-registro [nameTipo]="tipo?.name" class="mx-1"></app-modal-registro>
    </div>
  </div>
  <div class="card-body py-5">
    <div class="row">
      <div class="col-sm d-flex flex-center">
        <button class="btn btn-sm btn-light mx-3 fw-bolder text-dark" ><i class="bi bi-arrow-left "></i> Atras</button>
      </div>
      <div class="col-sm text-center">
          <span class="fw-bolder text-dark"
          >Buscar Gestion:
        </span>
        <select
        class="form-select"
        data-control="select2"
        data-placeholder="Select an option"
        >
        <option>option 0</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
      </select>
      </div>
      <div class="col-sm text-center">
        <span class="fw-bolder text-dark"
          >Buscar Tomo: 1
          <select
            class="form-select"
            data-control="select2"
            data-placeholder="Select an option"
          >
            <option> Option 0</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
          </select></span
        >
      </div>
      <div class="col-sm text-center">
        <span class="fw-bolder text-dark"
          >Nr. de Tomo:
          <input
            type="text"
            class="form-control"
            placeholder="Mas detalles"
        /></span>
      </div>
      <div class="col">

      </div>
    </div>
  </div>
</div>
<app-lista-diplomas class="card mb-5 mb-xl-8"></app-lista-diplomas>
