<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-center text-dark fw-bolder">
      FORMULARIO PARA EDITAR PAIS
    </h4>
    <button
      type="button"
      class="close btn btn-sm btn-light"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="">
        <div class="card card-custom">
          <!--begin::Form-->
          <form class="form" [formGroup]="editCountryForm">
            <div class="card-body">
              <div class="form-group">
                <label class="fw-bolder">Nombre</label>
                <input
                  type="text"
                  class="form-control form-control-solid"
                  placeholder="Nombre de Pais"
                  formControlName="name"
                />
              </div>
              <div class="form-group row">
                <div class="col-md-6">
                  <label class="fw-bolder"> Codigo de Pais</label>
                  <input
                    type="text"
                    class="form-control form-control-solid"
                    placeholder="Codigo "
                    formControlName="code"
                  />
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6">
                  <label class="fw-bolder"> Gentilicio</label>
                  <input
                    type="text"
                    class="form-control form-control-solid"
                    placeholder="Gentilicio "
                    formControlName="demonym"
                  />
                </div>
              </div>
              <!-- <div class="form-group">
                <label for="exampleTextarea" class="text-dark fw-bolder"
                  >Descripcion</label
                >
                <textarea
                  class="form-control form-control-solid"
                  rows="3"
                  formControlName="description"
                ></textarea>
              </div> -->
            </div>
          </form>
          <!--end::Form-->
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light btn-sm" (click)="closeLg()">
      Cerrar
    </button>
    <button type="button" class="btn btn-primary btn-sm" (click)="editC()">
      Guardar
    </button>
  </div>
</ng-template>

<button
  class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary"
  (click)="openLg(content, country)"
>
  <span
    [inlineSVG]="'./assets/media/icons/duotune/art/art005.svg'"
    class="svg-icon svg-icon-1x svg-icon-primary"
  ></span>
</button>
