<!-- begin::Header -->
<div class="card-header border-0 pt-5">
  <div class="card-label fw-bolder fs-7 mb-1"></div>
  <div class="card-toolbar">
    <a href="#" class="btn btn-primary btn-hover-rise me-5">
      <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr017.svg'" class="svg-icon svg-icon-3"></span>
      Legalizacion
    </a>
    <a href="#" class="btn btn-danger btn-hover-rise me-5">
      <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr017.svg'" class="svg-icon svg-icon-3"></span>
      Certificacion
    </a>
    <a href="#" class="btn btn-success btn-hover-rise me-5">
      <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr017.svg'" class="svg-icon svg-icon-3"></span>
      Configuracion
    </a>
    <app-crear-configuraciones (saveBusquedaClicked)="onSaveBusquedaClicked($event)"></app-crear-configuraciones>
  </div>
<!-- end::Header -->

<!-- begin::Body -->
  <div class="card-body py-3">
    <div class="separator my-0 mb-3"></div>
    <div class="d-flex flex-row justify-content-between">
      <span class="text-muted mt-1 fw-bold fs-7 d-flex flex-row my-3">
        Mostrando
        <input type="number" name="" class="form-control w-80px h-25px mx-3"> entradas
      </span>

      <span class="text-muted mt-1 fw-bold fs-7 d-flex flex-row my-3">
        Filtrar
        <input class="form-control w-120px h-25px mx-3" type="text" name="" id="">
      </span>
    </div>
    <!-- begin::Table container -->
    <div class="table-responsive">
      <!-- begin::Table -->
      <table class="table align-middle gs-0 gy-4">
        <!-- begin::Table head -->
        <thead>
        <tr class="fw-bolder text-muted bg-light">
          <th class="px-4 rounded-start min-w-20px">No.</th>
          <th class="min-w-100px">Tipo</th>
          <th class="min-w-100px">Nombre</th>
          <th class="min-w-100px">No. Cuenta</th>
          <th class="min-w-100px">Asociado</th>
          <th class="min-w-100px">Duracion</th>
          <th class="min-w-100px">Costo</th>
          <th class="min-w-200px text-end rounded-end px-4">Opciones</th>
        </tr>
        </thead>
        <!-- end::Table head -->
        <!-- begin::Table body -->
        <tbody>
        <tr *ngFor="let configuracion of configuracionesFiltradas ; let indice = index">

          <td>
            <a href="#" class="text-dark fw-bolder text-center text-hover-primary d-block mb-1 fs-6">
              {{indice + 1}}
            </a>
          </td>
          <td>
            <a *ngIf="configuracion.tipo=='1'" href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6"
               class="btn btn-warning">

              Busqueda
            </a>
          </td>
          <td>
            <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">
              {{configuracion.nombre}}
            </a>
          </td>
          <td>
            {{configuracion.cuenta}}
          </td>
          <td>
            <div class="symbol symbol-50px me-5">
              <i class="bi bi-file-pdf-fill " style="font-size:3rem; color: rgb(177, 73, 73);"></i>
            </div>
            <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-4">
            </a>
          </td>
          <td>
            {{configuracion.duracion}}
          </td>
          <td>
            {{configuracion.costo}}
          </td>
          <td class="text-end">
            <!--          <app-modal-editar></app-modal-editar>-->
            <!--          <app-modal-detalle></app-modal-detalle>-->
            <a href="#" class="btn btn-icon btn-bg-light btn-color-primary btn-sm me-1">
              <span [inlineSVG]="'./assets/media/icons/duotune/general/gen005.svg'" class="svg-icon svg-icon-3"></span>
            </a>
            <a href="#" class="btn btn-icon btn-bg-light btn-color-primary btn-sm me-1">
              <span [inlineSVG]="'./assets/media/icons/duotune/art/art005.svg'" class="svg-icon svg-icon-3"></span>
            </a>
            <span href="#" class="btn btn-icon btn-bg-light btn-color-danger btn-sm" (click)="onAlert('clock')">
                <span [inlineSVG]="'./assets/media/icons/duotune/general/gen027.svg'" class="svg-icon svg-icon-3"></span>
              </span>
          </td>
        </tr>
        </tbody>
        <!-- end::Table body -->
      </table>
      <!-- end::Table -->
    </div>
    <!-- end::Table container -->
  </div>
<!-- begin::Body -->
</div>
