<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-dark fw-bolder">Observaciones</h4>
    <button
      type="button"
      class="close btn btn-sm btn-light"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <h3 class="text-center fw-bolder text-primary text-muted">
        Observaciones del Titulo
      </h3>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <h3 class="fw-bolder text-center text-primary">
          Lista de Observaciones
        </h3>
      </div>
      <div class="col-sm-4">
        <h3 class="fw-bolder text-center text-primary">Nueva Observacion</h3>
        <textarea
          class="form-control form-control-solid"
          rows="3"
          formControlName="observaciones"
        ></textarea>
        <button
          type="button"
          class="btn btn-primary btn-sm mt-3"
        >
          Guardar 
        </button>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light btn-sm" (click)="modal.close('click')">
      Cerrar
    </button>
  </div>
</ng-template>

<button
  class="btn btn-icon btn-bg-light btn-color-primary btn-sm me-1"
  (click)="openLg(content)"
>
  <span
    [inlineSVG]="'./assets/media/icons/duotune/general/gen015.svg'"
    class="svg-icon svg-icon-3"
  ></span>
</button>
