<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-dark fw-bolder">Diplomas de Bachiller</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <h3 class="text-center fw-bolder text-primary text-muted">
        Detalle del Titulo
      </h3>
      <div class="col-md-4">
        <h3 class="fw-bolder text-center text-primary">DATOS DEL TITULO</h3>
        <div class="card card-custom">
          <!--begin::Form-->
          <form class="form">
            <div class="card-body">
              <div class="form-group">
                <label class="fw-bolder"> N.-Titulo</label>
                <input
                  type="number"
                  class="form-control form-control-solid"
                  placeholder="Example input"
                />
              </div>
              <div class="form-group">
                <label for="example-date-input" class="fw-bolder">Fecha</label>
                <input
                  class="form-control form-control-solid"
                  type="date"
                  value="2011-08-19"
                  id="example-date-input"
                />
              </div>
              <div class="form-group">
                <label class="fw-bolder">Seleccione Grado</label>
                <select class="form-control custom-select form-control-solid">
                  <option>BACHILLER</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              <div class="form-group row">
                <div class="col-md-6">
                  <label class="fw-bolder"> N.- Folio</label>
                  <input
                    type="number"
                    class="form-control form-control-solid"
                    placeholder="Example input"
                  />
                </div>
                <div class="col-md-6">
                  <label for="example-date-input" class="fw-bolder"
                    >Fecha Folio</label
                  >
                  <input
                    class="form-control form-control-solid"
                    type="date"
                    value="2011-08-19"
                    id="example-date-input"
                  />
                </div>
              </div>
            </div>
          </form>
          <!--end::Form-->
        </div>
        <h3 class="fw-bolder text-center text-primary">DATOS PERSONALES</h3>
        <div class="card card-custom">
          <!--begin::Form-->
          <form class="form">
            <div class="card-body">
              <div class="form-group row">
                <div class="col-md-6">
                  <label class="fw-bolder"> N.-CI</label>
                  <input
                    type="number"
                    class="form-control form-control-solid"
                    placeholder="Example input"
                  />
                </div>
                <div class="col-md-6">
                  <label for="example-date-input" class="fw-bolder text-danger"
                    >Expira</label
                  >
                  <input
                    class="form-control form-control-solid"
                    type="date"
                    value="2011-08-19"
                    id="example-date-input"
                  />
                </div>
              </div>
              <div class="form-group">
                <label class="fw-bolder">N.- Pasaporte</label>
                <input
                  type="number"
                  class="form-control form-control-solid"
                  placeholder="Numero de Pasaporte"
                />
              </div>
              <div class="form-group">
                <label class="fw-bolder"> Apellidos</label>
                <input
                  type="text"
                  class="form-control form-control-solid"
                  placeholder="Apellidos"
                />
              </div>
              <div class="form-group">
                <label class="fw-bolder"> Nombres </label>
                <input
                  type="text"
                  class="form-control form-control-solid"
                  placeholder="Nombres"
                />
              </div>
              <div class="form-group">
                <label class="fw-bolder">Sexo</label>
                <select class="form-control custom-select form-control-solid">
                  <option>Masculino</option>
                  <option>Femenino</option>
                </select>
              </div>
              <div class="form-group">
                <label class="fw-bolder">Nacionalidad</label>
                <select class="form-control custom-select form-control-solid">
                  <option>Bolivia</option>
                  <option>Otros</option>
                </select>
              </div>
            </div>
          </form>
          <!--end::Form-->
        </div>
      </div>
      <div class="col-md-8">
      <h3 class="text-center fw-bolder text-primary text-muted">
        Titulo
      </h3>
      <div >
        <label> Pdf src </label>
        <!-- <input (change)="onFileSelected()" [value]='pdfSrc' type="file" id="file"> -->
        <!-- <input [(ngModel)]="page" type="number" id="page"> -->
      </div>
      <pdf-viewer [src]="'https://vadimdez.github.io/ng2-pdf-viewer/assets/pdf-test.pdf'"
        [render-text]="true"
        [page]="page"
        class="shadow-lg p-3 mb-5 bg-white rounded"  
        [show-all]="true"
        style="display: block; background-color: blueviolet; width: 700px; height: 650px;">
      </pdf-viewer>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('click')">
      Cerrar
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="modal.close('click')"
    >
      Guardar
    </button>
  </div>
</ng-template>

<button
  class="btn btn-icon btn-bg-light btn-color-primary btn-sm me-1"
  (click)="openLg(content)"
>
  <span
    [inlineSVG]="'./assets/media/icons/duotune/art/art005.svg'"
    class="svg-icon svg-icon-3"
  ></span>
</button>
