<mat-card>
  <mat-card-title>Seccion Archivos</mat-card-title>
  <mat-card-subtitle>
    Bienvenidos al SID.
  </mat-card-subtitle>

  <!--  <mat-card-content class="card-body border-top p-10">-->
  <!--    <img class="row mb-6" src="assets/media/misc/seccion_archivos.png" alt="archivos">-->
  <!--  </mat-card-content>-->

  <div class="row mb-6">
    <div class="col-lg-4 col-form-label required fw-bold fs-6">
      <img class="row mb-6" src="assets/media/misc/seccion_archivos.png" alt="archivos">
    </div>
    <div class="col-lg-8 fv-row">
      <p class="fw-boldest fs-6 text-dark">Sistema de informacion digital</p>
      <p class="fw-bolder fs-6 text-dark">Archivos UMSS</p>
    </div>
  </div>
</mat-card>
