<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-center text-dark fw-bolder">
      <i class="bi bi-journal-bookmark-fill text-dark"></i>
      Nuevo Tomo
    </h4>
    <button
      type="button"
      class="close btn btn-sm btn-light"
      aria-label="Close"
      (click)="closeLg()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="">
        <div class="card card-custom">
          <!--begin::Form-->
          <form class="form" [formGroup]="tomoForm">
            <div class="card-body">
              <div class="form-group my-3">
                <label class="fw-bolder">Numero de Tomo</label>
                <input
                  type="number"
                  class="form-control form-control-solid"
                  placeholder="Ingrese numero de tomo"
                  formControlName="numTomo"
                />
              </div>
              <div class="form-group row my-3">
                <div class="col-md-6">
                  <label class="fw-bolder"> Gestion</label>
                  <select
                    class="form-select form-select-solid"
                    data-kt-select2="true"
                    data-placeholder="Select option"
                    data-allow-clear="true"
                    formControlName="year"
                  >
                    <!-- <option [selected]="true">asd</option> -->
                    <option [value]="year" *ngFor="let year of allYears"> {{year}} </option>
                  </select>
                </div>
              </div>
              <div class="row my-3">
                <label class="fw-bolder"> Rango  </label>
                <div class="col-sm-6">
                  <div class="row">
                    <div class="col-sm-3">
                      <label class="text-muted mt-1 fw-bold fs-7 ">Desde:</label>
                    </div>
                    <div class="col-sm-8">
                      <input
                        type="number"
                        class="form-control form-control-solid"
                        formControlName="minNum"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="row">
                    <div class="col-sm-3">

                      <label class="text-muted mt-1 fw-bold fs-7 ">Hasta:</label>
                    </div>
                    <div class="col-sm-8">
                      <input
                        type="number"
                        class="form-control form-control-solid"
                        formControlName="maxNum"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group my-3">
                <label for="exampleTextarea" class="text-dark fw-bolder"
                  >Observacion</label
                >
                <textarea
                  class="form-control form-control-solid"
                  rows="3"
                  formControlName="observation"
                ></textarea>
              </div>
            </div>
          </form>
          <!--end::Form-->
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light btn-sm" (click)="closeLg()">
      Cerrar
    </button>
    <button type="button" class="btn btn-primary btn-sm" (click)="addSection(grade.type_id)">
      Guardar
    </button>
  </div>
</ng-template>
<button class="btn btn-sm btn-light-primary" (click)="openLg(content)">
  <i class="bi bi-journal-bookmark"></i>
  nuevo Tomo
</button>
