<!-- Dashboard -->
<div class="menu-item">
  <a
    class="menu-link without-sub"
    routerLink="/configurations"
    routerLinkActive="active"
    ><span class="menu-icon">
      <span
        [inlineSVG]="'./assets/media/icons/duotune/coding/cod001.svg'"
        class="svg-icon svg-icon-2"
      ></span>
    </span>
    <span class="menu-title"> Configuraciones DT</span></a
  >
</div>

<!-- Layout builder -->
<!-- <div class="menu-item">
  <a
    class="menu-link without-sub"
    routerLink="/configurations"
    routerLinkActive="active"
    ><span class="menu-icon">
      <span
        [inlineSVG]="'./assets/media/icons/duotune/coding/cod001.svg'"
        class="svg-icon svg-icon-2"
      ></span> </span
    ><span class="menu-title">Configuraciones</span></a
  >
</div> -->
<!-- Separator -->
<div class="menu-item">
  <div class="menu-content pt-5 pb-2">
    <span class="menu-section text-muted text-uppercase fs-8 ls-1"
      >Area de Registro</span
    >
  </div>
</div>

<!-- Pages -->

<div
  class="menu-item menu-accordion"
  data-kt-menu-trigger="click"
  routerLinkActive="here show"
>
  <span class="menu-link" 
    ><span class="menu-icon"
      ><span
        class="svg-icon svg-icon-2"
        [inlineSVG]="'./assets/media/icons/duotune/general/gen022.svg'"
      ></span></span
    ><span class="menu-title">Diplomas y Titulos</span
    ><span class="menu-arrow"></span
  ></span>
  <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
    <div
      class="menu-item menu-accordion"
      routerLinkActive="here show"
      data-kt-menu-trigger="click"
    >
      <span class="menu-link "(click)="getData()"
        ><span class="menu-bullet"><span class="bullet bullet-dot"></span></span
        ><span class="menu-title" data-link="/crafted/diplomas"
          >Listar Tomos</span
        ><span class="menu-arrow"></span
      ></span>
      <div
        class="menu-sub menu-sub-accordion"
        routerLinkActive="menu-active-bg"
        *ngFor="let ruta of rutas"
      >
        <div class="menu-item">
          <a
            class="menu-link without-sub"
            routerLinkActive="active"
            routerLink="/crafted/diplomas/overview/{{ ruta.type_id }} "
            ><span class="menu-bullet"
              ><span class="bullet bullet-dot"></span></span
            ><span class="menu-title"> {{ ruta.name }} </span></a
          >
        </div>
        <!-- <div class="menu-item">
          <a
            class="menu-link without-sub"
            routerLinkActive="active"
            routerLink="/crafted/pages/profile/certificado-academico"
            ><span class="menu-bullet"
              ><span class="bullet bullet-dot"></span></span
            ><span class="menu-title">Certificado Academico</span></a
          >
        </div>
        <div class="menu-item">
          <a
            class="menu-link without-sub"
            routerLinkActive="active"
            routerLink="/crafted/pages/profile/titulo-profesional"
            ><span class="menu-bullet"
              ><span class="bullet bullet-dot"></span></span
            ><span class="menu-title">Titulo Profesional</span></a
          >
        </div>
        <div class="menu-item">
          <a
            class="menu-link without-sub"
            routerLinkActive="active"
            routerLink="/crafted/pages/profile/diplomado"
            ><span class="menu-bullet"
              ><span class="bullet bullet-dot"></span></span
            ><span class="menu-title">Diplomado</span></a
          >
        </div>
        <div class="menu-item">
          <a
            class="menu-link without-sub"
            routerLinkActive="active"
            routerLink="/crafted/pages/profile/titulo-posgrado"
            ><span class="menu-bullet"
              ><span class="bullet bullet-dot"></span></span
            ><span class="menu-title">Titulos de Posgrado</span></a
          >
        </div>
        <div class="menu-item">
          <a
            class="menu-link without-sub"
            routerLinkActive="active"
            routerLink="/crafted/pages/profile/revalida"
            ><span class="menu-bullet"
              ><span class="bullet bullet-dot"></span></span
            ><span class="menu-title">Revalida</span></a
          >
        </div>
        <div class="menu-item">
          <a
            class="menu-link without-sub"
            routerLinkActive="active"
            routerLink="/crafted/pages/profile/certificado-supletorio"
            ><span class="menu-bullet"
              ><span class="bullet bullet-dot"></span></span
            ><span class="menu-title">Certificado Supletorio</span></a
          >
        </div> -->
      </div>
    </div>
    <div
      class="menu-item menu-accordion"
      routerLinkActive="here show"
      data-kt-menu-trigger="click"
    >
      <!-- <span class="menu-link"
        ><span class="menu-bullet"><span class="bullet bullet-dot"></span></span
        ><span class="menu-title" data-link="/crafted/diplomas"
          >Buscar Titulo</span
        ><span class="menu-arrow"></span
      ></span> -->
      <div
        class="menu-sub menu-sub-accordion"
        routerLinkActive="menu-active-bg"
      >
        <div class="menu-item">
          <a
            class="menu-link without-sub"
            routerLinkActive="active"
            routerLink="/crafted/diplomas/listar"
            ><span class="menu-bullet"
              ><span class="bullet bullet-dot"></span></span
            ><span class="menu-title">Horizontal</span></a
          >
        </div>
        <div class="menu-item">
          <a
            class="menu-link without-sub"
            routerLinkActive="active"
            routerLink="/crafted/pages/wizards/vertical"
            ><span class="menu-bullet"
              ><span class="bullet bullet-dot"></span></span
            ><span class="menu-title">Vertical</span></a
          >
        </div>
      </div>
    </div>
    <div
      class="menu-item menu-accordion"
      routerLinkActive="here show"
      data-kt-menu-trigger="click"
    >
      <span class="menu-link"
        ><span class="menu-bullet"><span class="bullet bullet-dot"></span></span
        ><span class="menu-title" data-link="/crafted/diplomas"
          >Buscar Titulo</span
        ><span class="menu-arrow"></span
      ></span>
      <div
        class="menu-sub menu-sub-accordion"
        routerLinkActive="menu-active-bg"
      >
        <div class="menu-item">
          <a
            class="menu-link without-sub"
            routerLinkActive="active"
            routerLink="/crafted/diplomas/buscador"
            ><span class="menu-bullet"
              ><span class="bullet bullet-dot"></span></span
            ><span class="menu-title">Buscador</span></a
          >
        </div>
        <!-- <div class="menu-item">
          <a
            class="menu-link without-sub"
            routerLinkActive="active"
            routerLink="/crafted/pages/wizards/vertical"
            ><span class="menu-bullet"
              ><span class="bullet bullet-dot"></span></span
            ><span class="menu-title">Vertical</span></a
          >
        </div> -->
      </div>
    </div>
    <!-- <div
      class="menu-item menu-accordion"
      routerLinkActive="here show"
      data-kt-menu-trigger="click"
    >
      <span class="menu-link"
        ><span class="menu-bullet"><span class="bullet bullet-dot"></span></span
        ><span class="menu-title" data-link="/crafted/diplomas"
          >Importar Titulos</span
        ><span class="menu-arrow"></span
      ></span>
      <div
        class="menu-sub menu-sub-accordion"
        routerLinkActive="menu-active-bg"
      >
        <div class="menu-item">
          <a
            class="menu-link without-sub"
            routerLinkActive="active"
            routerLink="/crafted/diplomas/listar"
            ><span class="menu-bullet"
              ><span class="bullet bullet-dot"></span></span
            ><span class="menu-title">Horizontal</span></a
          >
        </div>
        <div class="menu-item">
          <a
            class="menu-link without-sub"
            routerLinkActive="active"
            routerLink="/crafted/pages/wizards/vertical"
            ><span class="menu-bullet"
              ><span class="bullet bullet-dot"></span></span
            ><span class="menu-title">Vertical</span></a
          >
        </div>
      </div>
    </div> -->
    <!-- <div
      class="menu-item menu-accordion"
      routerLinkActive="here show"
      data-kt-menu-trigger="click"
    >
      <span class="menu-link"
        ><span class="menu-bullet"><span class="bullet bullet-dot"></span></span
        ><span class="menu-title" data-link="/crafted/diplomas"
          >Reportes</span
        ><span class="menu-arrow"></span
      ></span>
      <div
        class="menu-sub menu-sub-accordion"
        routerLinkActive="menu-active-bg"
      >
        <div class="menu-item">
          <a
            class="menu-link without-sub"
            routerLinkActive="active"
            routerLink="/crafted/diplomas/listar"
            ><span class="menu-bullet"
              ><span class="bullet bullet-dot"></span></span
            ><span class="menu-title">Horizontal</span></a
          >
        </div>
        <div class="menu-item">
          <a
            class="menu-link without-sub"
            routerLinkActive="active"
            routerLink="/crafted/pages/wizards/vertical"
            ><span class="menu-bullet"
              ><span class="bullet bullet-dot"></span></span
            ><span class="menu-title">Vertical</span></a
          >
        </div>
      </div> -->
    <!-- </div> -->
  </div>
</div>

<!-- Accounts -->
<!-- <div
  class="menu-item menu-accordion"
  data-kt-menu-trigger="click"
  routerLinkActive="here show"
>
  <span class="menu-link"
    ><span class="menu-icon"
      ><span
        class="svg-icon svg-icon-2"
        [inlineSVG]="'./assets/media/icons/duotune/communication/com006.svg'"
      ></span></span
    ><span class="menu-title" data-link="/crafted/account">Accounts</span
    ><span class="menu-arrow"></span
  ></span>
  <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
    <div class="menu-item">
      <a
        class="menu-link without-sub"
        routerLinkActive="active"
        routerLink="/crafted/account/overview"
        ><span class="menu-bullet"><span class="bullet bullet-dot"></span></span
        ><span class="menu-title">Overview</span></a
      >
    </div>
    <div class="menu-item">
      <a
        class="menu-link without-sub"
        routerLinkActive="active"
        routerLink="/crafted/account/settings"
        ><span class="menu-bullet"><span class="bullet bullet-dot"></span></span
        ><span class="menu-title">Settings</span></a
      >
    </div>
  </div>
</div> -->

<!--servicios-->
<div
  class="menu-item menu-accordion"
  data-kt-menu-trigger="click"
  routerLinkActive="here show"
>
  <span class="menu-link">
    <span class="menu-icon">
      <span class="svg-icon svg-icon-2" [inlineSVG]="'./assets/media/icons/duotune/general/gen022.svg'">
      </span>
    </span>
    <span class="menu-title" data-link="/crafted/servicios">Servicios</span><span class="menu-arrow"></span>
  </span>

  <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
    <div class="menu-item">
      <a
        class="menu-link without-sub"
        routerLink="/crafted/servicios/configuraciones"
        routerLinkActive="active">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title">Configuracion de Tramites</span>
      </a>
    </div>
    <div class="menu-item">
      <a
        class="menu-link without-sub"
        routerLink="/crafted/servicios/tramites"
        routerLinkActive="active">
        <span class="menu-bullet"><span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title">Tramites</span>
      </a>
    </div>
    <div class="menu-item">
      <a
        class="menu-link without-sub"
        routerLink="/crafted/servicios/reportes"
        routerLinkActive="active">
        <span class="menu-bullet"><span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title">Reportes</span>
      </a>
    </div>
  </div>
</div>
<!-- Errors -->
<div
  class="menu-item menu-accordion"
  data-kt-menu-trigger="click"
  routerLinkActive="here show"
>
  <span class="menu-link"><span class="menu-icon">
    <span class="svg-icon svg-icon-2" [inlineSVG]="'./assets/media/icons/duotune/general/gen040.svg'"></span>
  </span>
    <span class="menu-title" data-link="/error">Errors</span>
    <span class="menu-arrow"></span>
  </span>

  <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
    <div class="menu-item">
      <a
        class="menu-link without-sub"
        routerLink="/error/404"
        routerLinkActive="active">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title">Error 404</span>
      </a>
    </div>
    <div class="menu-item">
      <a
        class="menu-link without-sub"
        routerLink="/error/500"
        routerLinkActive="active">
        <span class="menu-bullet"><span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title">Error 500</span>
      </a>
    </div>
  </div>
</div> -->

<!-- Widgets -->
<!-- <div
  class="menu-item menu-accordion"
  data-kt-menu-trigger="click"
  routerLinkActive="here show"
>
  <span class="menu-link"
    ><span class="menu-icon"
      ><span
        class="svg-icon svg-icon-2"
        [inlineSVG]="'./assets/media/icons/duotune/general/gen025.svg'"
      ></span></span
    ><span class="menu-title" data-link="/crafted/widgets">Widgets</span
    ><span class="menu-arrow"></span
  ></span>
  <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
    <div class="menu-item">
      <a
        class="menu-link without-sub"
        routerLinkActive="active"
        routerLink="/crafted/widgets/lists"
        ><span class="menu-bullet"><span class="bullet bullet-dot"></span></span
        ><span class="menu-title">Lists</span></a
      >
    </div>
    <div class="menu-item">
      <a
        class="menu-link without-sub"
        routerLinkActive="active"
        routerLink="/crafted/widgets/statistics"
        ><span class="menu-bullet"><span class="bullet bullet-dot"></span></span
        ><span class="menu-title">Statistics</span></a
      >
    </div>
    <div class="menu-item">
      <a
        class="menu-link without-sub"
        routerLinkActive="active"
        routerLink="/crafted/widgets/charts"
        ><span class="menu-bullet"><span class="bullet bullet-dot"></span></span
        ><span class="menu-title">Charts</span></a
      >
    </div>
    <div class="menu-item">
      <a
        class="menu-link without-sub"
        routerLinkActive="active"
        routerLink="/crafted/widgets/mixed"
        ><span class="menu-bullet"><span class="bullet bullet-dot"></span></span
        ><span class="menu-title">Mixed</span></a
      >
    </div>
    <div class="menu-item">
      <a
        class="menu-link without-sub"
        routerLinkActive="active"
        routerLink="/crafted/widgets/tables"
        ><span class="menu-bullet"><span class="bullet bullet-dot"></span></span
        ><span class="menu-title">Tables</span></a
      >
    </div>
    <div class="menu-item">
      <a
        class="menu-link without-sub"
        routerLinkActive="active"
        routerLink="/crafted/widgets/feeds"
        ><span class="menu-bullet"><span class="bullet bullet-dot"></span></span
        ><span class="menu-title">Feeds</span></a
      >
    </div>
  </div>
</div> -->
