<!--<div class="card-toolbar">
  <app-modal-create></app-modal-create>
</div>-->
<app-createbusquedas></app-createbusquedas>
<!--
<app-createbusquedas></app-createbusquedas>
<app-createbusquedas></app-createbusquedas>
<app-createbusquedas></app-createbusquedas>
<app-createbusquedas></app-createbusquedas>-->
<a href="#" class="btn btn-primary me-4">Certificaciones</a>
<a href="#" class="btn btn-success me-4">Legalizaciones</a>
<a href="#" class="btn btn-info me-4">Confrontaciones</a>

<a href="#" class="btn btn-danger me-4">Atentados</a>


<div class="table-responsive">
    <table class="table">
     <thead>
      <tr class="fw-bolder fs-6 text-gray-800">
       <th>Tipo</th>
       <th>Nombre</th>
       <th>N. Cuenta</th>
       <th>Asociado</th>
       <th>Direccion</th>
       <th>Costo</th>
       <th>Opciones</th>
      </tr>
     </thead>
     <tbody>
      <tr *ngFor="let tramite of tramites">
        <!--<td>{{tramite.tre_nombre}}</td>-->
      <td>AB</td>
      <td>B</td>
      <td>C</td>
      <td>D</td>
      <td>E</td>
      <td>F</td>
      <td>G</td>
      </tr>
      <tr>
        <td>Certificaciones</td>
        <td>Cert. Carga</td>
        <td>100000256658</td>
        <td>TP</td>
        <td>Jordan</td>
        <td>$400</td>
        <td>Botones</td>      </tr>
     </tbody>
    </table>
   </div>

